@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "GT Walsheim Pro", sans-serif;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button {
  font-family: "GT Walsheim Pro", sans-serif;
}

body {
  background-color: #fafafa;
}

.pattern {
  background-image: url("./assets/images/logoSpidi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layout-child {
  width: calc(100vw - 320px);
}

@media screen and (max-width: 1280px) {
  .layout-child {
    width: 100vw;
  }
}

/* @media screen and (max-width: 1024px) {
  .layout-child {
    width: calc(100vw - 280px);
  }
} */

.main-menu .active button {
  font-weight: bolder;
}

li a.active {
  color: white !important;
}

li a.active a {
  color: white;
}

.custom-table {
  /* border-collapse: separate; */
  /* border-spacing: 0; */

  /* Apply border radius to the whole table */
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  overflow: hidden; /* To clip the rounded corners */
}

.custom-table thead th:first-child {
  border-top-left-radius: 10px !important;
}

/* Apply border radius to the last <th> in the <thead> */
.custom-table thead th:last-child {
  border-top-right-radius: 10px !important;
}

.statut {
  width: 120px !important;
}

.modal-transfert {
  overflow-y: unset !important;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background: rgb(233, 233, 233) !important;
}

.vertical-timeline-element-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  /* align-items: center !important; */
}

.vertical-timeline-element-content p {
  margin-bottom: 10px !important;
}

.css-9emuhu-MuiPaper-root-MuiDrawer-paper {
  background-color: #fff;
  border-top-left-radius: 28px !important;
  border-top-right-radius: 28px !important;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  z-index: 1200;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: auto;
  outline: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
}

.css-1gctnaj-MuiInputBase-input-MuiFilledInput-input {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 0px 0 0px !important;
  border: 0;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0;
  width: 100%;
  -webkit-animation-name: mui-auto-fill-cancel;
  animation-name: mui-auto-fill-cancel;
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  padding-top: 2px !important;
  padding-right: 0;
  padding-bottom: 2px !important;
  padding-left: 2px !important;
}

.css-zs07ro-MuiInputBase-root-MuiFilledInput-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.06);
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
  -webkit-transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  padding-right: 0px;
}

.css-r47a1p-MuiFormControl-root {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: top;
  margin: 0px !important;
  width: 100% !important;
}

.css-zs07ro-MuiInputBase-root-MuiFilledInput-root:before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  left: 0;
  bottom: 0;
  content: "" !important;
  position: relative !important;
  right: 0;
  -webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  pointer-events: none;
}

.css-zs07ro-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  left: 0;
  bottom: 0;
  content: "" !important;
  position: relative !important;
  right: 0;
  -webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  pointer-events: none;
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  display: none !important;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
}
